body{
    font-family: 'Roboto', sans-serif;
}

#menu {
    margin: auto;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    /*border-bottom: 1px solid black;*/
}

#menu a{
    color: black;
}

#menu a:hover{
    border-radius: 2px;
    /*background: black;*/
    /*color: white;*/
    text-decoration: none;
    /*border-bottom: 1px dashed black;*/
    /*border-right: 1px dashed black;*/
    /*box-shadow: 3px 3px 0px 0px;*/
}

#menu h2{
    text-align: right;
}
@media only screen and (max-width: 790px) {
    #menu h1, #menu h2 {
        text-align: center;
    }
}

#menu h1{
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 0px;
}

#menu h2{
    font-weight: 200;
    /*font-family: 'Courier New', sans-serif;*/
    letter-spacing: 4px;
    /*font-style: italic;*/
    font-size: 20px;
    margin-top: 15px;
}


footer{
    padding-top: 20px;
    font-weight: 200;
    text-align: center;
    font-size: 11px;
    font-family: 'Courier New', sans-serif;
}

#by{
    font-size: 9px;
}

.container-fluid{
    padding: 0;
}

.content {
    margin: auto;
    width: 75%;
}

/**************************************
* bio.html
**************************************/

#bio{
    font-weight: 300;
    /*padding-bottom: 40px;*/
}


/**************************************
* work.html links
**************************************/

.preview {
    height: 500px;
    width: 100%;
    position: relative;
}

.preview img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    object-fit: cover;
}

.preview a{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.preview a p {
    /*font-family: 'Courier New', sans-serif;*/
    letter-spacing: 7px;
    display: none;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 70%;
    background-color: rgb(140, 140, 140);
    border-radius: 1px;
    /*border: 1px solid black;*/
    font-weight: 100;
    /*font-style: italic;*/
    font-size: 24px;
}

.preview a:hover{
    background-color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.preview a:hover p{
    display: block;
}

/**************************************
* contact ish
**************************************/

.contact-info {
    font-weight: 100;
    /*font-style: italic;*/
}

.contact-info a{
    color: black;
    /*font-style: normal;*/
    font-family: 'Courier New', sans-serif;
}

/**************************************
* slides
**************************************/

#slide-box {
    margin: auto;
    width:100%;
    overflow: auto;
    white-space: nowrap;
    /*padding: 10px;*/
    /*display: none;*/
}

#loading {
    display: inline-block;
    padding-left: 10px;
    height: 100%;
}

.slide {
    display: inline-block;
    padding-left: 10px;
    /*height: 100%;*/
}

#back-button{
    padding-right: 10px;
    width: 200px;
}

#back-button p{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin: auto;
    width: 50%;
    color: black;
    /*font-family: 'Courier New', sans-serif;*/
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
}

#slide-box a:hover{
    text-decoration: none;
}
